.btn {
    position: relative;
    padding: .5em 2em;
    border: 1px solid black;
    border-radius: 2.0rem;
    box-shadow: inset black 0 0 0 0;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease;

    &:hover {
        color: #fff;

        &::before {
            height: 400%;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400%;
        height: 0%;
        z-index: -1;
        content: "";
        background-color: black;
        transition: 0.4s;
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}
