.btn {
    position: relative;
    padding: .5em 2em;
    border: 1px solid black;
    border-radius: 2.0rem;
    box-shadow: inset black 0 0 0 0;
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
        color: #fff;
        box-shadow: inset black 0 0 0 2.0em;
    }
}
