.btn {
    position: relative;
    padding: .5em 2.0em;
    border-radius: 2.0rem;
    color: white;
    background-color: black;

    &::before {
        content: "";
        background: linear-gradient(45deg,
                #ff0000, #ff7300, #fffb00, #48ff00,
                #00ffd5, #002bff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        border-radius: 2.0rem;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        opacity: 0;
    }

    &:active{
        color: black;
        font-weight: bold;
        background-color: transparent;
    }

    &:hover&::before{
        opacity: 1;
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
